body {
  font-family: Helvetica;
  padding-bottom: 0px;
  padding-top: 20px;
  background: rgb(139,69,19);
  color: black;
  
}
#title {
  text-align: center; 
  color: rgb(218,165,32);
  
}
img {
  display: block; 
}
#image {
  display: block;
  height: auto;
  max-width: 100%;
  margin: auto;
  padding: 0;
  border: black 5px solid;
}
#tribute-info {
  background: white;
  padding-top: 15px;
  padding-bottom: 15px;
  border: black 5px solid;
  max-width: 940px;
  margin: 0 auto;
}
#img-div {
  padding-bottom: 10px;
  margin-bottom: 25px;
}
#img-caption {
  text-align:center;
}
h2, h3 {
  text-align: center;
}
ul > li {
  margin-top: 20px;
  margin-bottom: 20px;
}
main {
  background: 	rgb(178,34,34);
  padding: 20px 80px 40px;
  margin: 0 30px;
  border: black 5px solid;
}
ul {
  display: block;
  margin-left: 30%;
  margin-right: 30%
}
h1 {
  font-size: 50px
}
address {
  text-align: center;
  padding: 0.3em;
  margin-top: 30px;
  margin-bottom: 30px;
}
a {
  color: rgb(178,34,34);
}
